<div>
	<div class="resume-content">
		<b>Github:</b><br>
		<a href=https://github.com/jkw224>https://github.com/jkw224</a>
		<br><br>
		<b>Bitbucket:</b>
		<br>
		<a href=https://bitbucket.org/jkw224>https://bitbucket.org/jkw224</a>
		<br><br><br>
	
		<b>Stacks</b><br>
		Django & Angular<br>
		MEAN — Mongo/Mongoose, Express, Angular, Node<br>
		<br><br>
		
		<b>Languages</b><br>
		Python<br>
		JavaScript<br>
		HTML5/CSS3<br>
		C++*<br>
		Java*<br>
		<br><br>

		<b>Frameworks</b><br>
		Django<br>
		Angular<br>
		Node<br>
		Express<br>
		Bootstrap<br>
		DjangoREST Framework*<br>
		<br><br>

		<b>Useful Experience</b><br>
		Command Line<br>
		Command-line Git/SourceTree<br>
		GitHub/BitBucket<br>
		Vim<br>
		Gulp<br>
		Agile Scrum<br>
		Trello<br>
		HipChat/Slack<br>
		Illustrator<br>
		PhotoShop*<br>
		<br><br>

		<b>Deployment</b><br>
		Digital Ocean*<br>
		Heroku*<br>
		Nginx*<br>
		<br><br>

		<b>Editors</b><br>
		IntelliJ/PyCharm<br>
		Vim<br>
		Sublime<br>
		Atom<br>
		(* Experience with but not yet proficient)
		<br><br><br>
	</div>
	<div class="seven.columns offset-by-six.columns">
		<div class="resume-description">
		Strong background in Git, adept in working in teams using version control and agile methodologies. Solid foundation in Computer Science. Took Computer Science courses at BYU: CS 142, CS 235 (worked with Java and C++).<br><br>

		I’m definitely a junior-level developer, but with my university experience (fundamental knowledge in CS) and my current practical experience developing in two stacks, I have the foundation, skills, and persistence to become a solid developer.
		</div>
	<div>
	<br><br><br>
</div>